<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
		<meta name="format-detection" content="telephone=no" />

		<title>{{#if title}}{{ title }}{{else}}default title{{/if}}</title>
		<meta name="description" content="{{#if description}}{{ description }}{{else}}default description{{/if}}" />
		<meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}default keywords{{/if}}" />

		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<script src="./js/main.js"></script>
	</head>
	<body>
{{> _header }}
{% body %}
{{> _footer }}
	</body>
</html>
